In [1]:
names = ("Akash", "", "Ramasani");

In [2]:
print(names);

('Akash', '', 'Ramasani')

In [3]:
print(names[0]);

Akash

In [4]:
print(names[0], names[1], names[2]);

Akash  Ramasani

In [5]:
names[1] = "N";

TypeError: 'tuple' object does not support item assignment

In [6]:
names.append("Male");

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
print(len(names));

3

In [8]:
print(type(names));

<class 'tuple'>

Create Tuple with One Item

In [9]:
firstName = ("Akash");

In [10]:
print(firstName);

Akash

In [11]:
print(type(firstName));

<class 'str'>

In [12]:
firstName = ("Akash",);

In [13]:
print(firstName);

('Akash',)

In [14]:
print(type(firstName));

<class 'tuple'>

Tuple Items - Data Types

In [15]:
stringTuple = ("Akash", "", "Ramasani");
intTuple = (21, 5, 87, 99);
booleanTuple = (True, False);

In [16]:
print(stringTuple, intTuple, booleanTuple);

('Akash', '', 'Ramasani') (21, 5, 87, 99) (True, False)

In [17]:
print(type(stringTuple), type(intTuple), type(booleanTuple));

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [18]:
mixedTuple = ("Akash", "", "Ramasani", 27, "May", "2001", True);

In [19]:
print(mixedTuple);

('Akash', '', 'Ramasani', 27, 'May', '2001', True)

In [20]:
print(type(mixedTuple));

<class 'tuple'>

Tuple Constructor

In [21]:
profile = tuple(("Akash", "Ramasani", 27, "May", 2001, True));

In [22]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [23]:
print(type(profile));

<class 'tuple'>

Access Tuples

In [24]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [25]:
print(profile[0], profile[1]);

Akash Ramasani

In [26]:
print(profile[2], profile[3], profile[4]);

27 May 2001

In [27]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

Negative Indexing

In [28]:
print(profile[-1]);

True

In [29]:
print(profile[-2], profile[-3], profile[-4]);

2001 May 27

In [30]:
print(profile[-4], profile[-3], profile[-2]);

27 May 2001

In [31]:
print(profile[-5], profile[-6]);

Ramasani Akash

In [32]:
print(profile[-6], profile[-5]);

Akash Ramasani

Range of Indexes

In [33]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [34]:
print(profile[]);

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1597481130.py, line 1)

In [35]:
print(profile[:]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [36]:
print(profile[0:]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [37]:
print(profile[1:]);

('Ramasani', 27, 'May', 2001, True)

In [38]:
print(profile[2:]);

(27, 'May', 2001, True)

In [39]:
print(profile[3:]);

('May', 2001, True)

In [40]:
print(profile[4:]);

(2001, True)

In [41]:
print(profile[5:]);

(True,)

In [42]:
print(profile[0:1:]);

('Akash',)

In [43]:
print(profile[0:2]);

('Akash', 'Ramasani')

In [44]:
print(profile[0:3]);

('Akash', 'Ramasani', 27)

In [45]:
print(profile[0:4]);

('Akash', 'Ramasani', 27, 'May')

In [46]:
print(profile[0:5]);

('Akash', 'Ramasani', 27, 'May', 2001)

In [47]:
print(profile[0:6]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [48]:
print(profile[0:7]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [49]:
print(profile[0:8]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [50]:
print(profile[1:2]);

('Ramasani',)

In [51]:
print(profile[0:2]);

('Akash', 'Ramasani')

In [52]:
print(profile[2:5]);

(27, 'May', 2001)

In [53]:
print(profile[5:]);

(True,)

In [54]:
print(profile[:2]);

('Akash', 'Ramasani')

In [55]:
print(profile[:5]);

('Akash', 'Ramasani', 27, 'May', 2001)

Range of Negative Indexes

In [56]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [57]:
print(profile[:]);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [58]:
print(profile[:-0]);

()

In [59]:
print(profile[:-1]);

('Akash', 'Ramasani', 27, 'May', 2001)

In [60]:
print(profile[:-2]);

('Akash', 'Ramasani', 27, 'May')

In [61]:
print(profile[:-3]);

('Akash', 'Ramasani', 27)

In [62]:
print(profile[:-4]);

('Akash', 'Ramasani')

In [63]:
print(profile[:-5]);

('Akash',)

In [64]:
print(profile[:-6]);

()

In [65]:
print(profile[-4:-1]);

(27, 'May', 2001)

In [66]:
print(profile[-6:-4]);

('Akash', 'Ramasani')

In [67]:
print(profile[-6:-5]);

('Akash',)

In [68]:
print(profile[-5:-4])

('Ramasani',)

Check if item exists

In [69]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [70]:
if "Akash" in profile:
    print("Akash", True);
    
if "akash".capitalize() in profile:
    print("akash".capitalize(), True);

Akash True
Akash True

Update Tuples - Tuples are unchangable

In [71]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, True)

In [72]:
profileInList = list(profile);

In [73]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, True]

In [74]:
profileInList[5] = False;

In [75]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, False]

In [76]:
profile = tuple(profileInList);

In [77]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False)

Add Items - Since Tuples are immutable, they do not have built-in append() method, but there are other ways to add items to a tuple.

In [78]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False)

In [79]:
profileInList = list(profile);

In [80]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, False]

In [81]:
profileInList.append("Male");

In [82]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, False, 'Male']

In [83]:
profile = tuple(profileInList);

In [84]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False, 'Male')

In [85]:
del profileInList;

Add Tuple to a Tuple - you are allowed to add tuple to a tuples.

In [86]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False, 'Male')

In [87]:
stateOfBirth = ("Telangana");

In [88]:
print(type(stateOfBirth));

<class 'str'>

In [89]:
profile += stateOfBirth;

TypeError: can only concatenate tuple (not "str") to tuple

In [90]:
del stateOfBirth;

In [91]:
stateOfBirth = ("Telangana",);

In [95]:
print(type(stateOfBirth));

<class 'tuple'>

In [96]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False, 'Male', 'Telangana')

In [97]:
profile += stateOfBirth;

In [98]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False, 'Male', 'Telangana', 'Telangana')

Remove Items - Tuples are unchangeable, so you cannot remove items from it, but there are some workarounds.

In [99]:
print(type(profile));

<class 'tuple'>

In [100]:
profileInList = list(profile);

In [101]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, False, 'Male', 'Telangana', 'Telangana']

In [102]:
print(type(profileInList));

<class 'list'>

In [103]:
profileInList.remove("Telangana");

In [104]:
print(profileInList);

['Akash', 'Ramasani', 27, 'May', 2001, False, 'Male', 'Telangana']

In [105]:
print(type(profileInList));

<class 'list'>

In [106]:
profile = tuple(profileInList);

In [107]:
print(type(profile));

<class 'tuple'>

In [108]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001, False, 'Male', 'Telangana')

Delete Profile

In [109]:
del profile;

In [110]:
print(profile);

NameError: name 'profile' is not defined

Packing - When we create a tuple, we normally assign values to it. This is called "packing" a tuple.

In [111]:
profile = ("Akash", "Ramasani");

In [112]:
print(type(profile));

<class 'tuple'>

In [113]:
print(profile);

('Akash', 'Ramasani')

In [114]:
firstName, lastName = profile;

In [115]:
print(profile);

('Akash', 'Ramasani')

In [116]:
print(firstName);

Akash

In [117]:
print(lastName);

Ramasani

In [118]:
firstName, middleName, lastName = profile;

ValueError: not enough values to unpack (expected 3, got 2)

Using Asterisk* - If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list.

In [119]:
profile = ("Akash", "Ramasani", 27, "May", 2001);

In [120]:
print(type(profile), profile);

<class 'tuple'> ('Akash', 'Ramasani', 27, 'May', 2001)

In [124]:
firstName, lastName, *dateOfBirth = profile;

In [125]:
print(firstName, lastName, dateOfBirth);

Akash Ramasani [27, 'May', 2001]

In [127]:
print(type(firstName), type(lastName), type(dateOfBirth));

<class 'str'> <class 'str'> <class 'list'>

If the asterisk is added to another variable name than the last, Python will assign values to the variable untill the number of values left matches the number of variables left.

In [129]:
first, *middle, last = profile;

In [130]:
print(first, middle, last);

Akash ['Ramasani', 27, 'May'] 2001

In [131]:
print(type(first), type(middle), type(last));

<class 'str'> <class 'list'> <class 'int'>

Loop through a Tuple - You can loop through the tuple items by using a for loop.

In [132]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001)

In [134]:
for eachTuple in profile:
    print(eachTuple);

Akash
Ramasani
27
May
2001

Loop through the Index Numbers - You can loop through the tuple items by referring to their Index Number.

In [135]:
print(profile);

('Akash', 'Ramasani', 27, 'May', 2001)

In [137]:
for eachIndex in range(len(profile)):
    print(profile[eachIndex]);

Akash
Ramasani
27
May
2001

Using a While Loop

In [141]:
index = 0;
while index < len(profile):
    print(profile[index]);
    index += 1;

Akash
Ramasani
27
May
2001

In [142]:
del profile;

Join Two Tuples

In [143]:
name = ("Akash", "", "Ramasani");
dateOfBirth = (27, "May", 2001);

In [144]:
print(type(name), type(dateOfBirth));

<class 'tuple'> <class 'tuple'>

In [145]:
print(name, dateOfBirth);

('Akash', '', 'Ramasani') (27, 'May', 2001)

In [146]:
profile = name + dateOfBirth;

In [147]:
print(type(profile), profile);

<class 'tuple'> ('Akash', '', 'Ramasani', 27, 'May', 2001)

In [148]:
del name, dateOfBirth, profile;

In [149]:
print(name, dateOfBirth, profile);

NameError: name 'name' is not defined

Multiply Tuples

In [150]:
fruits = ("Apple", "Banana", "Cherry");

In [151]:
print(fruits);

('Apple', 'Banana', 'Cherry')

In [152]:
doubleOfFruits = fruits * 2;

In [153]:
print(type(fruits), doubleOfFruits);

<class 'tuple'> ('Apple', 'Banana', 'Cherry', 'Apple', 'Banana', 'Cherry')

In [154]:
del fruits

Tuple Methods

count() - It returns the number of times the value appears in the tuple.

In [155]:
hackers = ("Jack", "Mark", "Duke", "Jack");

In [156]:
print(hackers)

('Jack', 'Mark', 'Duke', 'Jack')

In [158]:
print(hackers.count("Jack"));

2

In [159]:
del hackers;

In [161]:
marks = (25, 48, 79, 12,45, 25, 25,47, 25);

In [163]:
print(type(marks), marks)

<class 'tuple'> (25, 48, 79, 12, 45, 25, 25, 47, 25)

In [164]:
print(marks.count(25));

4

In [165]:
del marks;

index() - It search for the first occurrence of the value, and returns its position.

In [166]:
name = ("Akash", "", "Ramasani");

In [168]:
print(name.index("Ramasani"));

2

In [169]:
print(name.index(""));

1

In [170]:
print(name.index("Akash"));

0