Set is a collection which is Unordered, Unchangable and Uninexed. Set Items are Unchangable, but you can remove items and add new items.

In [1]:
fruits = {"Apple", "Banana"};

In [2]:
print(type(fruits), fruits);

<class 'set'> {'Banana', 'Apple'}

In [3]:
print(fruits);

{'Banana', 'Apple'}

In [4]:
print(fruits);

{'Banana', 'Apple'}

In [5]:
print(fruits);

{'Banana', 'Apple'}

In [6]:
print(fruits[1]);

TypeError: 'set' object is not subscriptable

In [7]:
del fruits;

In [8]:
print(fruits);

NameError: name 'fruits' is not defined

Duplicates Not Allowed

In [10]:
fruits = {"Apple", "Banana"};

In [11]:
print(fruits);

{'Banana', 'Apple'}

In [12]:
del fruits;

In [13]:
fruits = {"Apple", "Banna", "Apple"};

In [14]:
print(fruits);

{'Apple', 'Banna'}

In [15]:
print(type(fruits));

<class 'set'>

In [16]:
del fruits;

In [17]:
tempSet = {True, 1, False, 0};

In [18]:
print(tempSet);

{False, True}

In [19]:
del tempSet;

Length of a Set

In [21]:
fruits = {"Apple", "Banana"};

In [22]:
print(type(fruits), fruits);

<class 'set'> {'Banana', 'Apple'}

In [23]:
print(len(fruits));

2

Data Types - Set Items can be of any data type.

In [24]:
stringSet = {"Apple", "Banana", "Cherry"};

In [25]:
print(type(stringSet), len(stringSet), stringSet);

<class 'set'> 3 {'Banana', 'Apple', 'Cherry'}

In [26]:
del stringSet;

In [27]:
intSet = {24, 89, 78};

In [28]:
print(type(intSet), len(intSet), intSet);

<class 'set'> 3 {24, 89, 78}

In [29]:
del intSet;

In [30]:
booleanSet = {True, False, True, True};

In [31]:
print(type(booleanSet), len(booleanSet), booleanSet);

<class 'set'> 2 {False, True}

In [32]:
del booleanSet;

In [33]:
mixedSet = {"Apple", 24, True};

In [34]:
print(type(mixedSet), len(mixedSet), mixedSet);

<class 'set'> 3 {24, True, 'Apple'}

In [35]:
del mixedSet;

Set Constructor - It is possible to use the set() constructor to make set.

In [36]:
fruits = set(("Apple", "Banana", "Cherry"));

In [37]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Banana', 'Apple', 'Cherry'}

In [38]:
del fruits;

Access Set Items - You cannot access items in a set by referring to an index or a key.

In [39]:
fruits = {"Apple", "Banana", "Cherry"};

In [40]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Banana', 'Apple', 'Cherry'}

In [41]:
print(fruits[0]);

TypeError: 'set' object is not subscriptable

In [42]:
for eachFruit in fruits:
    print(eachFruit);

Banana
Apple
Cherry

In [43]:
if "Banana" in fruits:
    print("Banana" in fruits);
else:
    print("Banana" in fruits);

True

In [44]:
if "banana" in fruits:
    print("banana" in fruits);
else:
    print("banana" in fruits);

False

In [45]:
if "apple".capitalize() in fruits:
    print("apple".capitalize() in fruits);
else:
    print("apple" in fruits);

True

In [46]:
del fruits;

Once set is created, you cannot change its items, but you can add new items.

Add Set Items - Once a set is created, you cannot change its items, but you can add new items. To add one item to a set use the add() method.

In [47]:
fruits = {"Apple", "Banana", "Cherry"};

In [48]:
fruits.add("Dragon Fruit");

In [49]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 4 {'Banana', 'Apple', 'Cherry', 'Dragon Fruit'}

In [50]:
del fruits;

To add items from another set into the current set, use the update() method.

In [51]:
name = {"Akash", "", "Ramasani"};
dateOfBirth = {27, "May", 2001};

In [52]:
name.update(dateOfBirth); #update() method will exclude any duplicate items

In [53]:
print(type(name), len(name), name);

<class 'set'> 6 {'', 2001, 'May', 27, 'Ramasani', 'Akash'}

In [54]:
del name, dateOfBirth;

Add any iterable - The object in the update() method does not have to be set, it can be any iterable object(Tuples, List, Dictionaries);

In [55]:
name = ["Akash", "", "Ramasani"];
placeOfBirth = {"Suryapet",};

In [56]:
placeOfBirth.update(name);

In [57]:
print(type(placeOfBirth), len(placeOfBirth), placeOfBirth);

<class 'set'> 4 {'', 'Ramasani', 'Akash', 'Suryapet'}

In [58]:
del name, placeOfBirth;

Remove Set Items - To remove an item in a set, use the remove(), or the discord() method.

In [59]:
fruits = {"Apple", "Banana", "Cherry"};

In [60]:
fruits.remove("Apple");

In [62]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 2 {'Banana', 'Cherry'}

In [63]:
fruits.remove("Apple");

KeyError: 'Apple'

In [64]:
print(fruits.remove("Apple"))

KeyError: 'Apple'

In [65]:
print(fruits.remove("Banana"));

None

In [66]:
del fruits;

discard() Method

In [67]:
fruits = {"Apple", "Banana", "Cherry"};

In [68]:
fruits.discard("Apple");

In [69]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 2 {'Banana', 'Cherry'}

In [70]:
fruits.discard("Apple");

In [71]:
print(fruits);

{'Banana', 'Cherry'}

In [72]:
del fruits;

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what items get removed.

In [73]:
fruits = {"Apple", "Banana", "Cherry"};

In [74]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Banana', 'Apple', 'Cherry'}

In [75]:
fruits.pop();

In [76]:
print(fruits);

{'Apple', 'Cherry'}

In [77]:
fruits.pop();

In [78]:
print(fruits);

{'Cherry'}

In [79]:
del fruits;

use clear() method empties the list.

In [80]:
fruits = {"Apple", "Banana", "Cherry"};

In [81]:
fruits.clear();

In [82]:
print(len(fruits), fruits);

0 set()

Delete the Set - del keyword will delete the set completely.

In [83]:
del fruits;

Join Sets - union() method that returns a new set containing all ietms from both sets.

In [84]:
name = {"Akash", "", "Ramasani"};

In [85]:
dateOfBirth = {2, "May", 2001};

In [86]:
profile = name.union(dateOfBirth);
print(name.union(dateOfBirth));

{'', 2001, 2, 'May', 'Ramasani', 'Akash'}

In [87]:
print(profile);

{'', 2001, 2, 'May', 'Ramasani', 'Akash'}

In [88]:
del name, dateOfBirth, profile;

union() will exclude any duplicate items

In [91]:
firstSet = {"A", "B", "C"};
secondSet = {"C", "D", "E"};

In [92]:
print(firstSet.union(secondSet));

{'A', 'D', 'B', 'E', 'C'}

In [93]:
del firstSet, secondSet;

intersection() method will return a new set, that only contains the items that are present in both sets.

In [96]:
firstSet = {"A", "B", "C", "D"};
secondSet = {"C", "D", "E", "F"};

In [97]:
print(firstSet.intersection(secondSet));

{'D', 'C'}

In [98]:
del firstSet, secondSet;

symmetric_difference() method will return a new set, that contains only the elements that are NOT Present in both sets.

In [99]:
firstSet = {"A", "B", "C", "D"};
secondSet = {"C", "D", "E", "F"};

In [102]:
print(firstSet.symmetric_difference(secondSet));

{'A', 'F', 'B', 'E'}

In [104]:
thirdSet = firstSet.symmetric_difference(secondSet);

In [105]:
print(thirdSet);

{'A', 'F', 'B', 'E'}

In [106]:
del firstSet, secondSet, thirdSet;

symmetric_difference_update() method will keep only the elements that are NOT Present in both sets.

In [107]:
firstSet = {"A", "B", "C", "D"};
secondSet = {"C", "D", "E", "F"};

In [108]:
print(firstSet.symmetric_difference_update(secondSet));

None

In [109]:
print(firstSet);

{'A', 'F', 'B', 'E'}

In [110]:
del firstSet;

difference() method will return a new set, that contains the difference between two sets.

In [112]:
firstSet = {"A", "B", "C", "D"};
secondSet = {"C", "D", "E", "F"};

In [113]:
print(firstSet.difference(secondSet));

{'A', 'B'}

In [114]:
thirdSet = firstSet.difference(secondSet);

In [115]:
print(thirdSet);

{'A', 'B'}

In [116]:
print(secondSet.difference(firstSet));

{'E', 'F'}

In [117]:
fourthSet = secondSet.difference(firstSet);

In [118]:
print(fourthSet);

{'E', 'F'}

In [119]:
del firstSet, secondSet, thirdSet, fourthSet;

difference_update() method removes the items that exist in both sets.

In [120]:
firstSet = {"A", "B", "C", "D"};
secondSet = {"C", "D", "E", "F"};

In [121]:
firstSet.difference_update(secondSet);

In [122]:
print(firstSet);

{'A', 'B'}

In [123]:
secondSet.difference_update(firstSet);

In [124]:
print(secondSet);

{'D', 'E', 'F', 'C'}

In [125]:
del firstSet, secondSet;