Set is a collection which is Unordered, Unchangable and Uninexed. Set Items are Unchangable, but you can remove items and add new items.

In [1]:
fruits = {"Apple", "Banana"};

In [2]:
print(type(fruits), fruits);

<class 'set'> {'Banana', 'Apple'}

In [3]:
print(fruits);

{'Banana', 'Apple'}

In [4]:
print(fruits);

{'Banana', 'Apple'}

In [5]:
print(fruits);

{'Banana', 'Apple'}

In [6]:
print(fruits[1]);

TypeError: 'set' object is not subscriptable

In [7]:
del fruits;

In [8]:
print(fruits);

NameError: name 'fruits' is not defined

Duplicates Not Allowed

In [9]:
fruits = {"Apple", "Banana"};

In [10]:
print(fruits);

{'Banana', 'Apple'}

In [11]:
del fruits;

In [12]:
fruits = {"Apple", "Banna", "Apple"};

In [13]:
print(fruits);

{'Banna', 'Apple'}

In [14]:
print(type(fruits));

<class 'set'>

In [15]:
del fruits;

In [16]:
tempSet = {True, 1, False, 0};

In [17]:
print(tempSet);

{False, True}

In [18]:
del tempSet;

Length of a Set

In [19]:
fruits = {"Apple", "Banana"};

In [20]:
print(type(fruits), fruits);

<class 'set'> {'Banana', 'Apple'}

In [21]:
print(len(fruits));

2

Data Types - Set Items can be of any data type.

In [22]:
stringSet = {"Apple", "Banana", "Cherry"};

In [23]:
print(type(stringSet), len(stringSet), stringSet);

<class 'set'> 3 {'Cherry', 'Apple', 'Banana'}

In [24]:
del stringSet;

In [25]:
intSet = {24, 89, 78};

In [26]:
print(type(intSet), len(intSet), intSet);

<class 'set'> 3 {24, 89, 78}

In [27]:
del intSet;

In [28]:
booleanSet = {True, False, True, True};

In [29]:
print(type(booleanSet), len(booleanSet), booleanSet);

<class 'set'> 2 {False, True}

In [30]:
del booleanSet;

In [31]:
mixedSet = {"Apple", 24, True};

In [32]:
print(type(mixedSet), len(mixedSet), mixedSet);

<class 'set'> 3 {24, True, 'Apple'}

In [33]:
del mixedSet;

Set Constructor - It is possible to use the set() constructor to make set.

In [34]:
fruits = set(("Apple", "Banana", "Cherry"));

In [35]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Cherry', 'Banana', 'Apple'}

In [36]:
del fruits;

Access Set Items - You cannot access items in a set by referring to an index or a key.

In [37]:
fruits = {"Apple", "Banana", "Cherry"};

In [38]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Banana', 'Apple', 'Cherry'}

In [40]:
print(fruits[0]);

TypeError: 'set' object is not subscriptable

In [41]:
for eachFruit in fruits:
    print(eachFruit);

Banana
Apple
Cherry

In [42]:
if "Banana" in fruits:
    print("Banana" in fruits);
else:
    print("Banana" in fruits);

True

In [43]:
if "banana" in fruits:
    print("banana" in fruits);
else:
    print("banana" in fruits);

False

In [45]:
if "apple".capitalize() in fruits:
    print("apple".capitalize() in fruits);
else:
    print("apple" in fruits);

True

In [47]:
del fruits;

Once set is created, you cannot change its items, but you can add new items.

Add Set Items - Once a set is created, you cannot change its items, but you can add new items. To add one item to a set use the add() method.

In [48]:
fruits = {"Apple", "Banana", "Cherry"};

In [49]:
fruits.add("Dragon Fruit");

In [50]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 4 {'Dragon Fruit', 'Cherry', 'Apple', 'Banana'}

In [51]:
del fruits;

To add items from another set into the current set, use the update() method.

In [52]:
name = {"Akash", "", "Ramasani"};
dateOfBirth = {27, "May", 2001};

In [53]:
name.update(dateOfBirth); #update() method will exclude any duplicate items

In [54]:
print(type(name), len(name), name);

<class 'set'> 6 {'', 'Akash', 2001, 'May', 27, 'Ramasani'}

In [56]:
del name, dateOfBirth;

Add any iterable - The object in the update() method does not have to be set, it can be any iterable object(Tuples, List, Dictionaries);

In [57]:
name = ["Akash", "", "Ramasani"];
placeOfBirth = {"Suryapet",};

In [58]:
placeOfBirth.update(name);

In [60]:
print(type(placeOfBirth), len(placeOfBirth), placeOfBirth);

<class 'set'> 4 {'', 'Akash', 'Ramasani', 'Suryapet'}

In [61]:
del name, placeOfBirth;

Remove Set Items - To remove an item in a set, use the remove(), or the discord() method.

In [62]:
fruits = {"Apple", "Banana", "Cherry"};

In [63]:
fruits.remove("Apple");

In [64]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 2 {'Cherry', 'Banana'}

In [65]:
fruits.remove("Apple");

KeyError: 'Apple'

In [66]:
print(fruits.remove("Apple"))

KeyError: 'Apple'

In [67]:
print(fruits.remove("Banana"));

None

In [68]:
del fruits;

discard() Method

In [69]:
fruits = {"Apple", "Banana", "Cherry"};

In [70]:
fruits.discard("Apple");

In [71]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 2 {'Cherry', 'Banana'}

In [72]:
fruits.discard("Apple");

In [73]:
print(fruits);

{'Cherry', 'Banana'}

In [74]:
del fruits;

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what items get removed.

In [75]:
fruits = {"Apple", "Banana", "Cherry"};

In [76]:
print(type(fruits), len(fruits), fruits);

<class 'set'> 3 {'Cherry', 'Apple', 'Banana'}

In [77]:
fruits.pop();

In [78]:
print(fruits);

{'Apple', 'Banana'}

In [79]:
fruits.pop();

In [80]:
print(fruits);

{'Banana'}

In [81]:
del fruits;

use clear() method empties the list.

In [83]:
fruits = {"Apple", "Banana", "Cherry"};

In [84]:
fruits.clear();

In [86]:
print(len(fruits), fruits);

0 set()

Delete the Set - del keyword will delete the set completely.

In [87]:
del fruits;

Join Sets - union() method that returns a new set containing all ietms from both sets.

In [3]:
name = {"Akash", "", "Ramasani"};

In [4]:
dateOfBirth = {2, "May", 2001};

In [5]:
profile = name.union(dateOfBirth);
print(name.union(dateOfBirth));

{'', 2001, 2, 'Akash', 'May', 'Ramasani'}

In [6]:
print(profile);

{'', 2001, 2, 'Akash', 'May', 'Ramasani'}

In [8]:
del name, dateOfBirth, profile;

NameError: name 'name' is not defined